<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
</head>

<body style="padding: 0; margin: 0;">
    <div id="app" style="height: 100vh; width: 100vw; padding: 0; margin: 0;">
        <v-app>
            <v-container fluid>
                <v-row>
                    <v-spacer></v-spacer>
                    <v-col cols="12" md="8" lg="4">
                        <v-row>
                            <v-col class="d-flex justify-space-between">
                                <v-btn v-if="backButton" @click="goBack" color="primary">BACK</v-btn>
                                <div></div>
                                <v-btn @click="clear" color="error">RESET</v-btn>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col>
                                <div v-if="isLeaf" class="d-flex flex-column align-center">
                                    <h1>{{ answer }}</h1>
                                    <v-btn color="success" x-large class="ma-2" @click="clear">COMPLETE</v-btn>
                                </div>
                                <div v-else class="d-flex flex-column align-center">
                                    <h2 class="my-4">{{ question }}</h2>
                                    <v-btn v-for="(choice, index) in choices" :key="index" @click="selectChoice(index)" class="my-2 align-self-stretch" outlined x-large raised color="primary">
                                        {{ choice.text }}
                                    </v-btn>
                                </div>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-spacer></v-spacer>
                </v-row>
            </v-container>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script type="module">
        import { connect, StringCodec} from "/js/nats.js"

        const natsInit = async function (connectionURL, messageTopic) {
            console.log(`Connecting to Nats: ${connectionURL}`)
            const url = connectionURL
            const conn = await connect({
                servers: connectionURL
            })

            console.log(`Connected to Nats: ${connectionURL}`)
            const topic = messageTopic
            const sc = StringCodec()
            return function(message){
                console.log(`Publishing message: ${message} to: ${topic} on server: ${connectionURL}`)
                conn.publish(topic, sc.encode(message))
            }
        }

        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data() {
                return {
                    tree: {
                        0: {
                            question: "Start Review",
                            choices: [
                                {
                                    text: "Start",
                                    next: 1,
                                    natsMessage: "ctrl+g"
                                }
                            ]
                        },
                        1: {
                            question: "Fault Type?",
                            choices: [
                                {
                                    text: "Service Line Fault",
                                    next: 2,
                                    natsMessage: "ctrl+q"
                                },
                                {
                                    text: "Attack Line Fault",
                                    next: 2,
                                    natsMessage: "ctrl+w"
                                },
                                {
                                    text: "Centre Line Fault",
                                    next: 2,
                                    natsMessage: "ctrl+e"
                                },
                                {
                                    text: "Net Touch",
                                    next: 2,
                                    natsMessage: "ctrl+r"
                                },
                                {
                                    text: "Block Touch",
                                    next: 2,
                                    natsMessage: "ctrl+t"
                                },
                                {
                                    text: "Antenna Touch",
                                    next: 2,
                                    natsMessage: "ctrl+y"
                                },
                                {
                                    text: "Floor Touch",
                                    next: 2,
                                    natsMessage: "ctrl+u"
                                }
                            ]
                        },
                        2: {
                            question: "Fault?",
                            choices: [
                                {
                                    text: "Fault",
                                    next: 3,
                                    natsMessage: "ctrl+a"
                                },
                                {
                                    text: "No Fault",
                                    next: 3,
                                    natsMessage: "ctrl+s"
                                }
                            ]
                        },
                        3: {
                            question: "Challenge Success?",
                            choices: [
                                {
                                    text: "Challenge Successful",
                                    next: 4,
                                    natsMessage: "ctrl+z"
                                },
                                {
                                    text: "Challenge Unsuccessful",
                                    next: 5,
                                    natsMessage: "ctrl+x"
                                }
                            ]
                        },
                        4: {
                            answer: "Challenge Successful!"
                        },
                        5: {
                            answer: "Challenge Unsuccessful!"
                        }
                    },
                    currentNode: 0,
                    history: [],
                    defaultNatsServer: "",
                    defaultNatsTopic: "",
                    publishFunction: null
                };
            },
            computed: {
                question() {
                    return this.tree[this.currentNode].question;
                },
                choices() {
                    return this.tree[this.currentNode].choices;
                },
                isLeaf() {
                    return !this.tree[this.currentNode].choices;
                },
                answer() {
                    return this.tree[this.currentNode].answer;
                },
                backButton(){
                    return this.history.length >= 2 ? true : false
                }
            },
            // watch: {
            //     history(newVal, Oldval) {
            //         console.log(newVal)
            //     }
            // },
            methods: {
                selectChoice(index) {
                    this.updateHistory(this.currentNode, index)
                    this.publishMessage(this.currentNode, index)
                    this.currentNode = this.choices[index].next;
                },
                clear() {
                    this.publishMessage(0,0)
                    this.currentNode = 0
                    this.history = []
                },
                updateHistory(node, selection) {
                    let choice = {
                        node: node,
                        selection: selection
                    }
                    this.history.push(choice)
                },
                publishMessage(node, choice) {
                    if (this.tree[node].choices[choice].natsMessage) {
                        let message = {
                            key: this.tree[node].choices[choice].natsMessage
                        }
                        this.publishFunction(JSON.stringify(message))
                    }
                },
                goBack(){
                    this.currentNode = this.history.at(-1).node
                    this.history.pop()
                }
            },
            created() {
                //get query params
                let uri = window.location.search.substring(1);
                let params = new URLSearchParams(uri);

                this.defaultNatsServer = params.get("nats_ws_broker")
                if (this.defaultNatsServer == null) {
                    this.defaultNatsServer = "ws://localhost:4223"
                }

                this.defaultNatsTopic = params.get("nats_topic")
                if (this.defaultNatsTopic == null) {
                    this.defaultNatsTopic = "webApp.keyCommands"
                }

                natsInit(this.defaultNatsServer, this.defaultNatsTopic)
                    .then(publishFunction => {
                        this.publishFunction = publishFunction
                    })
                    .catch(err => {
                        console.log(err)
                    })
            },
        })

    </script>
</body>

</html>